body {
	z-index: 2137483605;
}
#results-box {
	border-width: 0;
	border-right: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	bottom: 0;
}
#match-box {
	border-width: 0;
	border-left: 1px dashed gray;
    padding-left: 30px;
    float:left; 
	width: 600px;
}
.match-text {
	display: none;
}
.match-coverage-pct {
	font-size: 120%;
	font-weight: bold;
}
.match-coverage-chars, .match-source-details {
	font-size: 90%;
	margin-bottom: 10px;
}
.match-title-text {
	font-weight: bold;
}
#results-listing {
	cursor: pointer;
}
#results-listing li {
	margin-right:12px;
    padding: 18px 5px;
}
.churnalism-highlight {
	background-color: #ecc13d;
}

