body {
	z-index: 2137483605;
}
#source-box { 
	position: absolute;
	width: 400px;
}
#results-box {
	border-width: 0;
	border-right: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	bottom: 0;
}
#match-box {
	border-width: 0;
	border-left: 1px dashed gray;
	position: absolute;
	top: 0;
	left: 270px;
	width: 600px;
}
.match-text {
	display: none;
}
.match-coverage-pct {
	font-size: 120%;
	font-weight: bold;
}
.match-coverage-chars, .match-source-details {
	font-size: 90%;
	margin-bottom: 10px;
}
.match-title-text {
	font-weight: bold;
}
#results-listing {
	cursor: pointer;
}
#results-listing li {
	margin: 18px 12px 18px 0;
}
.highlight {
}

