{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block bodyclass %}about{% endblock %}
{% block title %}404{% endblock title%}
{% block body %}
<div id="fullColumn">
    <h2 class="textReplace" id="errorTitle">404 Error</h2>
    <div id="errorBg">
        <p class="textReplace" id="errorText">Looks like you’ve run across a page that’s been cut out.</p>
        <p class="tip">Head back to the <a href="/">home page</a> and try again or discover popular searches below</p>
    </div>    
</div>
{% endblock body %}
