{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block bodyclass %}about{% endblock %}
{% block title %}About{% endblock title%}
{% block body %}
<div id="fullColumn">
    <div id="halfColumnRt">
        <h2 class="withTip">About Churnalism</h2>
        <p>The Sunlight Foundation's Churnalism is based on the <a href="http://churnalism.com/">UK site by the same name</a> and is driven by open-source search engine technology dubbed <a href="https://github.com/mediastandardstrust/superfastmatch">SuperFastMatch</a>. Both the original Churnalism site and SuperFastMatch were developed by the <a href="http://mediastandardstrust.org/">Media Standards Trust</a>. We at the Sunlight Foundation have partnered with the Media Standards Trust to adapt the site for an U.S. audience and to build web browser extensions with similar functionality.</p>

        <p>To use the tool, enter text or a URL on the <a href="{% url index %}">Churnalism homepage</a> or install <a href="{% url downloads %}">a browser extension</a>.

        <h4>Methodology</h4>
        <p>
            Churnalism searches the text you enter against a large corpus of press releases and determines the best matches. Sometimes, exact fragments will match that are clearly not plagiarism. These often include expanded organizational names (such as The United States House of Representatives) or boilerplate copy about a particular company that is usually appended to the end a press release. In order to filter out uninteresting matches and provide the best user experience, we use a relevancy ranking that is derived from the total character overlap and the density of that overlap.</p>
<p>
 And as always, you can view our source code for this project on the <a href="https://github.com/sunlightlabs/churnalism_us">Sunlight Labs Github page</a>.
</p>

<p>
Our corpus of press releases is growing all the time and will soon be available as a standalone API. Our major sources include:
<ul>
<li>PRNewsWire</li>
<li>PR NewsWeb</li>
<li>MarketWire</li>
<li>EurekaAlert</li>
<li>Congressional Leadership</li>
<li><a href="http://www.whitehouse.gov/briefing-room/statements-and-releases">The White House</a></li>
<li><a href="https://docs.google.com/a/sunlightfoundation.com/spreadsheet/ccc?key=0AoLusuql9ZxIdGpKR2tTU3NjMkxlMW03SE5TNng2bWc#gid=3">Trade Organizations</a></li>
<li><a href="https://docs.google.com/a/sunlightfoundation.com/spreadsheet/ccc?key=0AoLusuql9ZxIdGpKR2tTU3NjMkxlMW03SE5TNng2bWc#gid=0">Fortune 500 Companies</a></li>
<li><a href="https://docs.google.com/a/sunlightfoundation.com/spreadsheet/ccc?key=0AoLusuql9ZxIdGpKR2tTU3NjMkxlMW03SE5TNng2bWc#gid=2">Nonprofit Research Institutes and Thinktanks</a></li>
</ul>    
</p>
    </div>
    <div class="clear"></div>
</div>
{% endblock body %}
