<!DOCTYPE html>
{% load static %}
{% load churnstats %}
<html>
    <head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/main.css">
        <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
        <![endif]-->
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        {% block head %}
        {% endblock head %}
        <title>{% block title %}Churnalism - US{% endblock %}</title>

        {% block opengraph %}
        <meta property="og:url" content="http://churnalism.sunlightfoundation.com/">
        <meta property="og:title" content="Churnalism US">
        <meta property="og:description" content="A new web tool that allows you to compare journalism and press releases to determine what's original and what's possible plagiarism.">
        <meta property="og:image" content="{{ STATIC_URL }}images/facebook.jpg">
        {% endblock opengraph %}
        
        <script type="text/javascript" src="http://use.typekit.com/afk5tze.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">

        var ie_ext_options = function() {
        // This means extension is loaded. Insert an alert for them to update their options
            $('header').prepend('<span id="ie-ext-options" style="display:none;"><a href="/iframe/">Edit your extension options</a></span>').find('#ie-ext-options').slideDown()
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22821126-19']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        var track_click = function(permalink) {
            var parts = permalink.split('/');
            var keys = parts[parts.length-4] + '_' + parts[parts.length-3] + '_' + parts[parts.length-2]
            if (keys != ''){
                _gaq.push(['_setCustomVar', 1, 'document_uuid', keys, 3]);
                _gaq.push(['_trackPageview']);
            }
        }
        </script>
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <header>
            <nav>
                <ul>
                    <li id="about"><a class="textReplace" href="{% url about %}">About</a></li>
                    <li id="contact"><a class="textReplace" href="{% url contact %}">Contact</a></li>
                    <li id="downloads" style="width:105px;"><a class="textReplace" href="{% url downloads %}">Downloads</a></li>
                    <li id="sunlight" class="textReplace" >Product of: <a class="textReplace" id="logo_mst" href="http://mediastandardstrust.org/">Media Standards Trust</a> <a id="logo_sunlight" class="textReplace" href="http://sunlightfoundation.com">Sunlight Foundation</a></li>
                </ul>    
            </nav>   
            <div class="clear"></div> 
            <h1>
                <a class="textReplace logo" href="/">Churnalism <small>US Tool for Jounalistic Accountability</small></a>

                <div id="share">
                    {% block share_url %} {% endblock %}
                    {% block share_buttons %}
                    <div id="gigya-share"
                        class="share-buttons"
                        data-socialite="auto"
                        data-services="twitter-tweet, facebook-like"
                        data-twitter-tweet-options="text=Use @SunFoundation's Churnalism tool to detect possible plagiarism or copy/paste journalism:&amp;url=http://churnalism.sunlightfoundation.com/"
                        data-facebook-like-options="width=100&amp;colorscheme=light&amp;show-faces=false&amp;layout=button_count"></div> 
                    {% endblock %}
                </div>   
            </h1>
        </header>  
        <div class="clear" id="container">
            {% block overlap %}{% endblock %}
                {% block body %}
                {% endblock body %}
        </div>
        <div id="resourcesWrapper">
            <div id="resourcesWrapper2">
                <div id="resources">
                    {% most_read 4 %}
                    {% latest 4 %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <footer>
            <div id="privacy">
                <a class="textReplace" id="foundationLogo" href="http://sunlightfoundation.com">Sunlight Foundation</a>
                <p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.
            </div>    
            <div id="emailSignup">
                <h5>Like This Project and Want to Discover Others Like It?</h5>
                <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                <form action="http://sunlightfoundation.com/mailinglist/subscribe/" method="post" id="sfapp-subscribe-form">
                    <input type="hidden" name="response" value="json">
                    <ul>
                        <li>
                            <label class="hidden">Email Address</label>
                            <input type="text" name="email" id="email" placeholder="enter your email address">
                        </li>
                        <li>
                            <label class="hidden">Zip Code</label>
                            <input type="text" name="zipcode" id="zip" placeholder="your zip code">
                        </li>
                        <li>
                        <button type="submit" class="btn btn-sunlight"><span>Sign Up</span></button>
                        </li>
                    </ul>
                </form>
            </div>    
            <div class="clear"></div>
        </footer>    
        <!--[if lt IE 9]>
        <script>
            CFInstall.check({
                mode: "overlay",
                destination: window.location,
            });
        </script>
        <![endif]-->

    </body>

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/browserdetect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}sfapp/js/sfapp.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js.gz"></script>
    <script type="text/javascript">
        var get_url = function(){
            var permalink = $("#share-page-url");
            if (permalink.length > 0){
                return permalink.val();
            }
            else {
                return window.location.href;
            }
        };
        var get_title = function(){
            var matches = $("ol#matches li.active")
            if (matches.length > 0){
                return "Churnalism - " + $(matches[0]).find("a.articleTitle").text();
            } else {
                return $("title").text();
            }
        };
    </script>
    {% block js %}
    <script type="text/javascript">
        if (window == window.top) { /* Do not run if in an iframe */
            var _sf_async_config = { uid: 980, domain: 'churnalism.sunlightfoundation.com', useCanonical: true };
            (function() {
                function loadChartbeat() {
                    window._sf_endpt = (new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                        document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        }
    </script>
    {% endblock js %}
</html>
