{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/reset.css">
        {% block head %}
        {% endblock head %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block body %}
        {% endblock body %}
    </body>

    
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js"></script>
    {% block js %}
    {% endblock js %}
</html>
