{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block bodyclass %}beta{% endblock %}
{% block title %}Beta Instructions{% endblock title%}
{% block body %}
<div id="fullColumn">
    <div id="fullColumn">
        <h2 class="withTip">Beta Instructions</h2>
        <p>Thanks for agreeing to beta test Churnalism US!</p>

        <p>Churnalism is a tool for finding matching fragments of text between two documents. We built up a cache of documents that includes all of Wikipedia and press releases from PR Newswire, PR News Web, EurekaAlert, congressional leadership offices, the White House, a sampling of Fortune 500 companies, prominent foundations and much more. Churnalism searches for matching fragments across all of these sources and shows you a side-by-side result.</p>

        <p>To use the website, visit <a href="http://churnalism.sunlightfoundation.com">http://churnalism.sunlightfoundation.com</a>. Enter the URL of a story or copy and paste the text into the form. That’s all there is to it! If you enter the URL and find that it didn’t pull the text you expected, this may be the result of the selected URL being behind a paywall. Try using the text copy and paste option, instead.</a>

        <p>To use an extension, download the one for your prefered web browser by clicking its logo at <a href="http://churnalism.sunlightfoundation.com/downloads/">http://churnalism.sunlightfoundation.com/downloads</a>. If you use Windows 7 and have both a 32-bit version and 64-bit version of Internet Explorer installed, you’ll need an extra add-on to make the extension work in both versions. You can install <a href="http://churnalism.sunlightfoundation.com/static/ieext/setupchurn_x64_addon.msi">that add-on here</a>.</p>

        <p>The extension allows you to fine tune what websites are &ldquo;churned.&rdquo; For instance, you can adjust your settings so that Churnalism only churns news websites and ensure that no personal information is submitted. You can edit the default whitelist of websites that will be run through Churnalism in the extension options. You can remove or edit domains from the whitelist, and there’s also a quick add box that will give you a list of domains currently open in your browser, in case you want to add them.</p>

        <ul class="beta-instructions">
            <li><b>Chrome</b>: you can access the options by clicking menu <b>&rsaquo;&rsaquo;</b> Settings <b>&rsaquo;&rsaquo;</b> Extensions <b>&rsaquo;&rsaquo;</b> Churnalism Options.</li>
            <li><b>Firefox</b>: you can access the options via the Tools menu <b>&rsaquo;&rsaquo;</b> Add-ons <b>&rsaquo;&rsaquo;</b> Extensions <b>&rsaquo;&rsaquo;</b> Churnalism Preferences <b>&rsaquo;&rsaquo;</b> Options.</li>
            <li><b>In Internet Explorer</b>: you can simply visit <a href="http://churnalism.sunlightfoundation.com/iframe/">the IE settings page</a> to edit your settings.</p>
        </ul>

        <p>When the Churnalism extension detects a match, a ribbon will slide down at the top of the page and prompt you to view the Churnalism or dismiss the notification. If you decide to view the Churnalism, an overlay will pop up that shows you a side-by-side view with the best match for the document. To close the pop up, click anywhere outside the overlay or hit escape.<p>

        <p>To make sure you’ve installed the tool correctly and to be familiar with using it, here’s a few examples of positive results for matching text:
        <ul class="beta-instructions">
            <li><a href="http://www.nbcnews.com/id/49282518/ns/technology_and_science-space/t/universe-expanding-faster-we-thought/#.UJw3mPHazyl">The universe is expanding faster than we thought</a></li>
            <li><a href="http://www.nydailynews.com/life-style/health/meditation-empathic-article-1.1176145">Can meditation make you more empathic?</a></li>
            <li><a href="http://www.dailymail.co.uk/sciencetech/article-2212134/Researchers-test-replica-big-toes-950BC--confirm-worlds-prosthetics-worked.html">Walk like an Egyptian: Researchers test replica big toes from 950BC - and confirm the 'world's first prosthetics' worked</a></p>
        </ul>

        <p>In the course of testing this tool, we often received false positives when extremely long names, expanded acronyms or common phrases appeared in matches. To make the matches more meaningful, we use an algorithmic ranking to only show you matches where the density and number of matches is significant.</p>

        <p>Thanks again for testing the beta version of Churnalism US. Please don’t hesitate to contact us with questions or comments at <a href="churnalism@sunlightfoundation.com">churnalism@sunlightfoundation.com</a>.</p>

    </div>
    <div class="clear"></div>
</div>
{% endblock body %}

