{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block bodyclass %}contact{% endblock %}
{% block title %}Contact Us{% endblock title%}
{% block body %}
<div id="fullColumn">
    <div id="halfColumnRt">
        <h2 class="withTip">Contact Us</h2>
        <span class="tip">Have comments or questions? We'd love to hear from you.</span>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if form %}
            <form id="contactform"  action="{% url contact %}" method="post">
                {%csrf_token%}

                <ul class="withSpace">
                    {{ form.as_ul }}
                    <li>
                    <button id="submitBtn" type="submit">
                        <span>Send</span>
                    </button>
                    </li>
                </ul>
            </form>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
{% endblock body %}
