{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block bodyclass %}downloads{% endblock %}
{% block title %}Downloads{% endblock title%}
{% block body %}
<div id="fullColumn">
    <div id="halfColumnRt">
        <h2 class="withTip">Downloads</h2>
        <p>If you don't want to have to visit churnalism.sunlightfoundation.com each time you want to submit an article, install one of our browser extensions. These extensions run in the background, checking news stories you read against the churnalism database. If something matches, you'll get a notification at the top of the page that allows you to view the match. Click on the notification to get a side by side comparison of the article you're reading and its best match.</p><p>

<p>We currently have an extension for Chrome, Firefox, and Internet Explorer (8 & 9). Click on a logo to get started!</p>

<a href="/static/chromeext/churnalism-ext-bf1cf68-20120615-172255.crx"><img src="/static/images/chrome_100.png" /> <!-- make a download link --></a>
<a href="#"><img src="/static/images/ff_logo_100.png" /> <!-- make a download link --></a>
<a href="/static/ieext/churnalism_setup.exe"><img src="/static/images/ie_logo_100.jpg" /> <!-- make a download link --></a>
    </div>
    <div class="clear"></div>
</div>
{% endblock body %}
