mysql-python
lepl
httplib2
lxml
readability-lxml
requests
git+git://github.com/surfly/gevent.git@1.0rc3#egg=gevent
git+https://github.com/sunlightlabs/sfapp.git@5914ae5b0f672f6260d63744d2c22744be59ae82#egg=sfapp
boto==2.14.0
progressbar
ipython
django==1.4.1
django-extensions==0.9
django-debug-toolbar==0.9.4
django-devserver
django-staticfiles>=1.2.1
django-storages>=1.1.4
django-compressor>=1.1.2
django-memcached==0.1.2
python-memcached==1.48
google-api-python-client==1.0beta8
oauth2==1.5.211
South==0.7.6
unicodecsv
natsort==3.0.2

# These are for publicity machine are aren't strictly required
python-dateutil
feedparser
django-postmark==0.1.6
