mysql-python
lepl
httplib2
lxml
readability-lxml
requests
gevent>=1.0dev
progressbar
ipython
django>=1.4.1
django-debug-toolbar
django-devserver
django-staticfiles>=1.2.1
django-storages>=1.1.4
django-compressor>=1.1.2
google-api-python-client==1.0beta8
oauth2==1.5.211
South==0.7.6
unicodecsv

# These are for publicity machine are aren't strictly required
python-dateutil
feedparser
django-postmark==0.1.6
