mysql-python
django==1.3.1
django-debug-toolbar
lepl
httplib2
lxml
readability-lxml
requests
gevent
progressbar
ipython
django-devserver
celery
django-celery
google-api-python-client==1.0beta8
oauth2==1.5.211

# These are for publicity machine are aren't strictly required
python-dateutil
feedparser
django-postmark==0.1.6
