<!DOCTYPE html>
{% load jsonify %}

{% comment %}
This template stands alone because the chrome extension performs a POST request
and then dynamically injects the result into a source-less iframe. This causes
relative links inside the injected iframe to be relative to the containing page,
so all links output must be absolute.
{% endcomment %}

<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            iframe, html, body { padding: 0; margin: 0; }
            ul { margin: 0; padding-top: 0; padding-bottom: 0; }
            body { background-color: rgb(200, 200, 200); }
            /* Initially hide everything */
            #sidebyside-box {
                width: 100%;
                height: 100%;
            }
            #doc-box, #pr-box {
                float: left;
                width: 50%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #doc-text, #pr-text {
            }
        </style>
        <title>{% firstof source_title match_title "Search Results" %}</title>
    </head>
    <body>
        <div style="position: relative;">
            <div id="sidebyside-box">
                <div id="doc-box">
                    <div>
                        <h1 id="doc-title">
                            {{ source_title }}
                        </h1>
                    </div>
                    <div id="doc-text">
                        {{ source_text }}
                    </div>
                </div>
                <div id="pr-box">
                    <div>
                        <h1 id="pr-title">
                            {{ match_title }}
                        </h1>
                    </div>
                    <div id="pr-text">
                        {{ match_text }}
                    </div>
                </div>
            </div>
			<div id="footer">
				<a href="{% url sidebyside-search %}?uuid={{ uuid }}">See more results</a>
			</div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/highlight.js"></script>
        <script type="text/javascript">
            var search_results = {{ results|jsonify|safe }};

			var markupArticleText = function (txt) {
				var trimmed = txt.trim();
				var normalizedWhitespace = trimmed.replace(/^\s+$/gm, '');
				var hasConsecutiveLineBreaks = /[\r\n]{2,}/g.test(normalizedWhitespace);
				var lineBreakPatternText = '(\\r|\\n|\\r\\n|\\n\\r)';
				if (hasConsecutiveLineBreaks)
					lineBreakPatternText = lineBreakPatternText + '{2,}';
				var lineBreakPattern = new RegExp(lineBreakPatternText, "g");
				var withPTags = normalizedWhitespace.replace(lineBreakPattern, '</p><p>');
				return '<p>' + withPTags + '</p>';
			};

            $(document).ready(function(){
                var doc_text_el = document.getElementById('doc-text');
				var match_text_el = document.getElementById('pr-text');
				$(doc_text_el).html(markupArticleText($(doc_text_el).text()));
				$(match_text_el).html(markupArticleText($(match_text_el).text()));
                $.each(search_results['documents']['rows'], function(idx, row){
					$.each(row['snippets'], function(idx, snippet){
						var sub_snippets = snippet.split(/[\r\n]+/).map(function(ss){ return ss.trim(); });
						$.each(sub_snippets, function(idx, sub_snippet){
							if (sub_snippet.length > 0) {
								highlight_match(match_text_el, sub_snippet);
								highlight_match(doc_text_el, sub_snippet);
							}
						});
					});
				});
			});
        </script>        
    </body>
</html>
