{% extends "base.html" %}

{% load jsonify %}
{% load trailingslash %}
{% block title %}Churnalism - Side by Side View {% endblock %}

{% comment %}
This template stands alone because the chrome extension performs a POST request
and then dynamically injects the result into a source-less iframe. This causes
relative links inside the injected iframe to be relative to the containing page,
so all links output must be absolute.
{% endcomment %}

    {% block head %}
        <style type="text/css">
            iframe, html, body { padding: 0; margin: 0; }
            ul { margin: 0; padding-top: 0; padding-bottom: 0; }
			body {
				background-color: #fbf8f3; 
				font-family: Georgia,Times New Roman,Times,serif;
			}
			#explain-bar {
				background: none #f9f6ed;
				border-bottom: 1px solid #363671;
				font-family: Helvetica,Arial,sans-serif;
				padding: 1em;
			}
			#explain {
				margin: 0 0 1em 0;
				width: 85%;
			}
			#match-bar {
				font-family: Helvetica,Arial,sans-serif;
				font-size: 2.8em;
				font-weight: bold;
				float: right;
			}
			span#overlap-label {
				position: relative;
				float: right;
				margin-top: 1.3em;
				
			}
			.link-separator {
				letter-spacing: 117%;
				font-weight: bold;
			}
			h1 {
				font-size: 120%;
			}
			#sidebyside-title-box {
				width: 100%;
				max-height: 25%;
			}
            #sidebyside-box {
                width: 100%;
			}
			#doc-title-box, #pr-title-box {
				float: left;
				width: 48%;
				margin: 0;
				padding: 1%;
			}
			#pr-title, #doc-title { font-size: 1.8em; }
            #doc-box, #pr-box {
                float: left;
                width: 48%;
                height: 100%;
                margin: 0;
                padding: 1%;
            }
            #doc-text, #pr-text {
			}
			.churnalism-highlight {
				background-color: #F6F93A;
				padding: 0;
				margin: 0;
				font-style: italic;
			}
			.clear {
				clear: both;
			}
	    #container { border-top: 1px solid #E5E1DD; } 
	    #share { display: none; }
        </style>
        <title>{% firstof source_title match_title "Search Results" %}</title>
    {% endblock %}

    {% block overlap %}
	<div id="match-bar">
	<span id="overlap-label">Overlap: {{ match.coverage.1|floatformat:0 }}%</span>
	</div>
    {% endblock %}

    {% block body %}
        <div style="position: relative;">
<!--			<div id="explain-bar">
				<div id="explain">It's possible that the document on the left was partially copied from the document on the right because they overlap {{ match.coverage.1|floatformat:0 }}%.</div>
				{% if match_count > 1 %}
				{{ match_count|add:-1 }} other documents also match. <a href="{{ ABSOLUTE_BASE_URL|trailingslash:0 }}{% url sidebyside-permalink uuid match.doctype match.docid %}" target="_blank">See those results</a>
				{% endif %}
			</div> -->
			
			<div id="sidebyside-title-box">
				<div id="doc-title-box">
					<h2 class="withTip" id="doc-title">
						{{ source_title }}
					</h2>
				</div>
				<div id="pr-title-box">
					<h2 class="withTip" id="pr-title">
						{{ match_title }}
					</h2>
                                      <em>Source: {{match_source}}</em>
				</div>
				<div class="clear">
				</div>
			</div>
            <div id="sidebyside-box">
                <div id="doc-box">
                    <div id="doc-text">
                        {{ source_text }}
                    </div>
                </div>
                <div id="pr-box">
                    <div id="pr-text">
                        {{ match_text }}
                    </div>
                </div>
				<div class="clear">
				</div>
            </div>
			<div id="footer">
			</div>
        </div>
        {% endblock %}
{% block js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/highlight.js"></script>
        <script type="text/javascript">
            var search_results = {{ results|jsonify|safe }};

			var markupArticleText = function (txt) {
				var trimmed = txt.trim();
				var normalizedWhitespace = trimmed.replace(/^\s+$/gm, '');
				var hasConsecutiveLineBreaks = /[\r\n]{2,}/g.test(normalizedWhitespace);
				var lineBreakPatternText = '(\\r|\\n|\\r\\n|\\n\\r)';
				if (hasConsecutiveLineBreaks)
					lineBreakPatternText = lineBreakPatternText + '{2,}';
				var lineBreakPattern = new RegExp(lineBreakPatternText, "g");
				var withPTags = normalizedWhitespace.replace(lineBreakPattern, '</p><p>');
				return '<p>' + withPTags + '</p>';
			};

            $(document).ready(function(){
                var doc_text_el = document.getElementById('doc-text');
				var match_text_el = document.getElementById('pr-text');
				$(doc_text_el).html($(doc_text_el).text());
				$(match_text_el).html($(match_text_el).text());
                $.each(search_results['documents']['rows'], function(idx, row){

					var count = 1;
					$.each(row['snippets'], function(idx, snippet){
						var sub_snippets = snippet.split(/[\r\n]+/).map(function(ss){ return ss.trim(); });
						$.each(sub_snippets, function(idx, sub_snippet){
							if (sub_snippet.length > 0) {
								highlight_match(match_text_el, sub_snippet, count);
								highlight_match(doc_text_el, sub_snippet, count);
							}
						});
						count = count + 1;
					});
				});
				$(doc_text_el).html(markupArticleText($(doc_text_el).html()));
				$(match_text_el).html(markupArticleText($(match_text_el).html()));
				$('.churnalism-highlight').hover(function(){
					var frag_class = $(this).attr('class').replace('churnalism-highlight', '').trim();
					$('.' + frag_class).css('background-color', '#E7CC29');
				});
				$('.churnalism-highlight').mouseout(function(){
					var frag_class = $(this).attr('class').replace('churnalism-highlight', '').trim();
					$('.' + frag_class).css('background-color', '#F6F93A');
				});


			});

        </script>
{% endblock %}        

