{% extends "base.html" %}

{% load jsonify %}
{% load trailingslash %}
{% load domain %}
{% block title %}Churnalism - Side by Side View {% endblock %}

{% comment %}
This template stands alone because the chrome extension performs a POST request
and then dynamically injects the result into a source-less iframe. This causes
relative links inside the injected iframe to be relative to the containing page,
so all links output must be absolute.
{% endcomment %}

    {% block head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/chromeext.css">
    <title>{% firstof source_title match_title "Search Results" %}</title>
    {% endblock %}

    {% block overlap %}
    <div id="sidebysideHeader">
        <a href="{% url sidebyside-permalink uuid match.doctype match.docid %}">« Back to all Matches</a>
        <div class="clear"></div>
    </div>
    {% endblock %}

    {% block body %}
        <div style="position: relative;">

            <div id="sidebyside-title-box">
                <div id="doc-title-box">
                    <h2 class="withTip" id="doc-title">
                        {% ifequal source_title None %}
                            Pasted Text
                        {% else %}
                            {{ source_title }}
                        {% endifequal %}
                    </h2>
                    {% if source_url %}
                        <em>Source: <a href="{{ source_url }}">{{ source_url|domain }}</a></em>
                    {% endif %}
                </div>
                <div id="pr-title-box">
                    <h2 class="withTip" id="pr-title">
                        {{ match_title }}
                    </h2>
                    {% if match_url %}
                        <em>Source: <a href="{{ match_url }}">{{match_source}}</a></em>
                    {% else %}
                        <em>Source: {{match_source}}</em>
                    {% endif %}
                </div>
                <div class="clear">
                </div>
            </div>
            <div id="sidebyside-box">
                <div id="doc-box">
                    <div id="doc-text">
                        {{ source_text }}
                    </div>
                </div>
                <div id="pr-box">
                    <div id="pr-text">
                        {{ match_text }}
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
        {% endblock %}
{% block js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/jquery.scrollintoview.min.js"></script>
        <script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/highlight.js"></script>
        <script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/sidebyside_common.js"></script>
        <script type="text/javascript" src="{{ ABSOLUTE_STATIC_URL }}scripts/sidebyside_sidebyside.js"></script>
        <script type="text/x-jquery-template" id="connector-tmpl">
            <svg id="fragment-connector" pointer-events="none">
                <path id="bezier" stroke-width="3" fill="none"/>
                <g stroke="none" stroke-width="3" fill="none">
                    <circle id="A" r="3" />
                    <circle id="B" r="3" />
                    <circle id="C" r="3" />
                    <circle id="D" r="3" />
                    <circle id="E" r="3" />
                </g>
            </svg>
        </script>
        <script type="text/javascript">
            var search_results = {{ results|jsonify|safe }};
        </script>
{% endblock %}        

