{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <meta name="google-site-verification" content="T9INWVAu1p6L6wyJTa1wpI6kESSNRiBPtcocnt2d5GM" />
{% endblock %}
{% block title %}Churnalism Search{% endblock title%}
{% block nav-search %}<li class="active">Search</li>{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}
<div id="fullColumn">
    {% if brokenurl %}
        <p class="broken-url-text">Thanks for the report. We'll get to fixing it right away. In the meantime, try copying and pasting the text of that article below.</p>
    {% endif %}
    {% if error %}
        <p class="broken-url-text">{{ error }}</p>
    {% endif %}
    <div id="halfColumn">
        <p id="introText">Ever wonder if the news story you're reading is a product of real journalism or just a spin off of another story posted elsewhere? <span class="introHighlight">Discover the journalism you can trust and what you should question</span>.</p>
        <div>
            {% block share_buttons %}
            <div id="gigya-share" class="share-buttons"
                data-socialite="auto"
                data-services="twitter, facebook"
                data-options="show-counts=true"
                data-twitter-tweet-options="text=Use @SunFoundation's Churnalism tool to detect possible plagiarism or copy/paste journalism:&amp;url=http://churnalism.sunlightfoundation.com/"
                data-facebook-like-options="width=100&amp;colorscheme=light&amp;show-faces=false&amp;layout=button_count"></div> 
            {% endblock %}
        </div>
    </div>
    <div id="halfColumnRt">
        {% if allow_search %}
        <form action="{% url sidebyside-search %}" method="POST" class="search-form">
            <ul class="withSpace">
                <li>
                    {% csrf_token %}
                    <label for="url">Enter URL:</label>
                    <input type="text" name="url" id="url">
                    <span class="tip">or</span>
                </li>
                <li>
                    {% csrf_token %}
                    <label for="text">Paste in Text:</label>
                    <textarea cols="32" id="text" name="text" rows="10"></textarea>
                </li>
                <li>
                    <button type="submit" id="submitBtn">
                            <span>Submit</span>
                    </button>
                <li>
            </ul>
        </form>
        <div class="clear"></div>
        <div id="extension-dl-chrome" style="display: none;" class="extension-dl">
            <a href="https://chrome.google.com/webstore/detail/churnalism/igpjommbbpdncpcnjkombboimdclgdhm?hl=en&gl=US"><img src="{{ STATIC_URL }}images/ChromeWebStore_Badge_v2_206x58.png"></a>
        </div>
        <div id="extension-dl-firefox" style="display: none;" class="extension-dl">
            <a href="https://addons.mozilla.org/en-US/firefox/addon/churnalism/"><img src="{{ STATIC_URL }}images/firefox_logo-only_RGB_56x59.png">&nbsp; <span>Download the<br>Firefox add-on <span class="comingSoon">beta</span></span></a>
        </div>
        <div id="extension-dl-ie" style="display: none;" class="extension-dl">
            <a href="{% url downloads %}"><img src="{{ STATIC_URL }}images/ie_logo_84x72.png">&nbsp; <span>Download the browser extension</span></a>
        </div>
        {% else %}
        <div><p id="introText" class="maintenanceText">Churnalism is currently in maintenance mode, so the search feature is disabled. Rest assured that we are working on the issue.</p></div>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
{% endblock body %}

{% block js %}
    {{ block.master }}
        <script type="text/javascript">
        var show_extension_dl = function(){
            if (BrowserDetect.browser == 'Chrome') {
                if (BrowserDetect.version >= 16) {
                    jQuery("#extension-dl-chrome").fadeIn();
                }
            } else if (BrowserDetect.browser == 'Firefox') {
                if (BrowserDetect.version >= 19) {
                    jQuery("#extension-dl-firefox").fadeIn();
                }
            } else if (BrowserDetect.browser == 'Explorer') {
                if ((BrowserDetect.version >= 8) && (BrowserDetect.version <= 9)) {
                    jQuery("#extension-dl-ie").fadeIn();
                }
            }
        };
        show_extension_dl();
    </script>
{% endblock js %}
